* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    line-height: 80px;
}

#boolean_logo {
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

main {
    padding-top: 60px;
    background-color: rgba(246,248,249,255);
}

#main_section {
    width: 900px;
    height: 1200px;
    margin: auto;
    background-color: rgba(255,255,255,255);
}

#adder {
    line-height: 60px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 60px;
}

.white_text {
    color: rgba(255, 255, 255, 255);
}

#task_adder {
    font-size: 15px;
    line-height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(71,173,241,255);
}

#section_adder {
    font-size: 15px;
    line-height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 2px;
    padding: 10px;
    border: 1px solid rgba(208,214,217,255);
    border-radius: 5px;
    display: inline-block;
    color: rgba(208,214,217,255);
}